/*
 *  Styles for the competition Page
 */
.competitions
	/*
	 *  Styles for the hero image above the fold
	 */
	.hero
		margin: 6rem 0 3rem
		padding: 0 10rem
		position: relative
		width: 100%

		// An image that is 55rem high and is grayscale
		// TODO: CHANGE THE WIDTH 100% TO SOMETHING DIFFERENT
		img
			border-radius: .5rem
			filter: grayscale(100%)
			height: 55rem
			object-fit: cover
			width: 100%

		// Moves the card to be in the middle of the imageq
		// Also sets the background to a slightly transparant purple
		.hero-card
			align-items: center
			background: rgba(81, 40, 136, 65%)
			border-radius: .5rem
			color: white
			display: flex
			flex-direction: column
			left: 0
			margin: 0 auto
			max-width: 63rem
			padding: 2.5rem 0 3.5rem
			position: absolute
			right: 0
			text-align: center
			top: 12rem

			// Text shadow for better readability
			// WHY IS THE PADDING LIKE IT IS?
			p
				font-size: 1.8rem
				padding: 2rem 4rem 3rem
				text-shadow: 4px 0 4px rgba(0, 0, 0, 50%)

			.button
				background: none
				border: solid 2px white
				padding: 1.5rem 2.7rem

	/*
	 *  Page Content styles
	 */
	.content
		margin-bottom: 3rem

	/*
	 *  Styles for the Blog Post Links
	 */
	ul.page-links
		align-items: center
		display: flex
		flex-wrap: wrap
		justify-content: center

		// Adds the margin between the page links
		a
			margin: 3rem

		// The content of the card.
		// Transition is for the whole card.
		// Fixed with because?
		li.blog-links-card
			easeOutCubic(.3)
			display: block
			padding: 2rem
			width: 30rem

			.picture
				margin: 0 auto

			// Blog link image
			img
				border-radius: 9rem
				height: 17.5rem
				padding-bottom: 1rem
				width: @height

			// Blog link header
			h3
				padding-bottom: 2rem
				padding-top: .5rem

			.excerpt
				color: black
				display: block

			// When the card is hovered, it is roted and moved slightly
			&:hover
				transform: rotate(1deg) translateX(-10px) translateY(-10px)
				easeInCubic(.2)