.header-wrapper
  align-items: center
  display: flex
  height: 9rem
  justify-content: space-between
  padding: 0 6.2rem
  position: absolute

.header-wrapper
  ul.main-nav
    align-items: center
    display: flex
    margin-right: 2rem

    li
      margin-left: 2rem

    a
      font-size: 1.8rem
      font-weight: bold
      letter-spacing: .5px
      padding-bottom: 0
      text-decoration: none
      transition: .3s cubic-bezier(.52, 0, .26, 1.2)
      transition-property: color, padding-bottom, border-bottom

/*
 * Home page header
 */
.header-wrapper.home
  width: 100%

  +tablet-land()
    .logo img
      max-width: 20rem

    padding: 0 4rem

  .logo
    margin-right: auto

  .main-nav
    // Handles the bottom border hover
    .current-url, a:hover
      border-bottom: 3px solid white
      color: white
      padding-bottom: .3rem

    a
      border-bottom: 4px solid rgba(255, 255, 255, 0)
      color: white

/*
 *  All other headers
 */
@media (max-width: 750px)
  .header-wrapper.general.header-wrapper.general
    height: 8rem
    padding: 1rem 2rem

    .current-url, a:hover
      padding-bottom: .1rem

    .logo, button
      align-self: flex-start

    .main-nav
      justify-content: center
      left: 0
      margin-top: 1.5rem
      position: absolute
      width: 100%

    li
      margin-left: 1rem

    li:nth-child(1)
      margin-left: 0

    button
      padding: .5rem 1.2rem

.header-wrapper.general
  background: white
  box-shadow: 0 3px 10px rgba(0, 0, 0, .03), 0 5px 15px rgba(0, 0, 0, .04)
  height: 4.7rem
  position: relative

  .main-nav
    .current-url, a:hover
      border-bottom: 3px solid purple
      color: purple
      padding-bottom: 1rem

    a
      border-bottom: 4px solid rgba(255, 255, 255, 0)
      color: rgba(81, 40, 136, 50%)
      font-size: 1.3rem

  .button
    border-radius: 1.5rem
    font-size: 1.3rem
    padding: .7rem 1.5rem