.header-wrapper
  background: linear-gradient(to bottom right, #955ddfdd, #512888e0), url("../images/CircuitBoardBackground-small.jpg")
  background-color: purple
  display: flex
  align-items: center
  justify-content: space-between
  height: 7rem
  padding: 0 2rem
  margin-bottom: 1.5rem
  a.site-title
      z-index: 2
  h1
    color: white
    font-size: 1.8rem
  button
    background: white
    color: purple
    border: none
    border-radius: 5px
    padding: .7rem
    font-size: 18px
    font-weight: bold
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4)
    z-index: 2
    &:hover
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4)
      background: #e6e6e6
.nav-wrapper
  width: 100vw
  display: flex
  justify-content: center
  position: absolute
  left: 0
.main-nav
  ul 
    list-style: none
    display: flex
    li 
      margin-left: 2rem
      .current-url
        border-bottom: 2px solid white
        color: white
      a 
        text-decoration: none
        font-size: 1.8rem
        letter-spacing: .5px
        font-weight: bold
        color: #e6e6e6
        padding-bottom: .3rem
        &:hover 
          border-bottom: 2px solid white
          color: white