.header-wrapper
  background: linear-gradient(to bottom right, #955ddfdd, #512888e0), url("../images/CircuitBoardBackground-small.jpg")
  background-color: purple
  display: flex
  align-items: center
  justify-content: space-between
  height: 7rem
  padding: 0 2rem
  margin-bottom: 1.5rem
  a.site-title
      z-index: 2
  h1
    color: white
    font-size: 1.8rem
  button
    background: white
    color: purple
    border: none
    border-radius: 5px
    padding: .7rem
    font-size: 18px
    font-weight: bold
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4)
    z-index: 2
    cursor: pointer
    &:hover
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4)
      background: #e6e6e6
.nav-wrapper
  width: 100vw
  display: flex
  justify-content: center
  position: absolute
  left: 0
.main-nav
  ul 
    display: flex
    .current-url, a:hover
      border-bottom: 3px solid white
      color: white
      padding-bottom: .3rem
      transition: .3s all cubic-bezier(.52,-1,.26,2);
    a 
      margin-left: 2rem
      text-decoration: none
      font-size: 18px
      letter-spacing: .5px
      font-weight: bold
      color: #e6e6e6
      padding-bottom: 0
      border-bottom: 3px solid rgba(255,255,255,0)
      transition: .3s all cubic-bezier(.8,0,.74,2);