.header-wrapper
  align-items: center
  display: flex
  height: 9rem
  justify-content: space-around
  padding: 0 6.2rem
  position: absolute
  width: 100%

  .logo
    margin-right: auto

.nav-wrapper
  align-items: center
  display: flex

.main-nav
  ul
    align-items: center
    display: flex
    margin-right: 2rem

    .current-url, a:hover
      border-bottom: 3px solid white
      color: white
      padding-bottom: .3rem
      transition: .3s all cubic-bezier(.52, -1, .26, 2)

    a
      border-bottom: 3px solid rgba(255, 255, 255, 0)
      color: #e6e6e6
      font-size: 18px
      font-weight: bold
      letter-spacing: .5px
      margin-left: 2rem
      padding-bottom: 0
      text-decoration: none
      transition: .3s all cubic-bezier(.8, 0, .74, 2)

.header-wrapper.general
  background: linear-gradient(purple1, purple-1)
  box-shadow: 0 15px 35px rgba(37, 41, 82, .15), 0 5px 15px rgba(0, 0, 0, .1)
  position: relative

@media (max-width: medium-width)
  .header-wrapper
    .logo img
      max-width: 20rem

    padding: 0 4rem