.page-links
	padding-bottom: 3rem

	li
		border-bottom: solid 4px purple
		display: flex
		// margin-bottom: 3rem
		padding: 2rem 1rem
		text-align: center

		.picture
			width: 25rem

			h3
				color: purple
				font-size: 2rem
				padding-bottom: 1rem
				text-align: center

			img // I want the pictures and titles to be in horizontal alignment
				border-radius: 7.5rem
				width: 15rem

	.excerpt
		align-items: center
		display: flex
		margin: 0 auto
		max-width: 40rem