// colors

// LAYOUT COLORS
purple = #512888
black = #222222
white = #ffffff
lightGray = #DDE2E4
darkGray = #53595D

// INTERACTIVE COLORS
purple-1 = 	#3b1d63
purple-2 = #23113b
purple1 = 	#6a34b2
purple2 = 	#844dcb


// Media Querries
medium-width = 900px

small-width = 500px


// INTERACTIVE COLORS FROM VIDEO
// Base #2C8DD4 hsl(205, 66%, 50%) 

// +1 #63ACE4 hsl(206, 70%, 64%)

// +2 #88C2EE hsl(206, 75%, 73%)

// -1 #196098 hsl(206, 72%, 35%)

// -2 #114E7B hsl(205, 76%, 27%)

// Lesson: keep saturation around 70 %, and just adjust lightness/Brightness!