.email-modal {
	purple-grad()
	height: 100%
	left: 0
	position: fixed
	top: 0
	width: 100%
	z-index: 1000

	.modal-title {
		color: white
		padding-top: 3rem
		text-align: center
	}

	.header {
		align-items: center
		background: darkGray
		display: flex
		justify-content: space-between
		padding: 1rem 2rem
		position: relative
		width: 100%
		z-index: 3

		.heading {
			color: white
		}
	}

	.close {
		background: none
		border: none
		color: white
		font-size: 1.6rem
		font-weight: 900

		&:hover {
			cursor: pointer
		}
	}

	.email-card {
		background: white
		left: 0
		margin: 2rem auto
		position: absolute
		right: 0
		width: 70rem
	}

	.email-form {
		padding: 2rem
	}

	.name, .email {
		display: inline-block
	}

	.label {
		font-weight: 600
		margin-right: 1.2rem
	}

	.name {
		margin-right: 2rem
	}

	.name-input, .email-input {
		width: 22rem
	}

	.message-input {
		display: block
		font-family: 'Open Sans'
		height: 60%
		height: 10rem
		margin-top: .5rem
		width: 100%
	}

	.submit {
		float: right
		margin-bottom: 2rem
	}

	.email-response {
		background: rgba(81, 40, 136, .51)
		color: white
		font-size: 2rem
		font-weight: bold
		margin-bottom: -4.8rem
		padding: 1rem
		text-align: center
		transform: translateY(-100%)
		easeInCubic(all, .5)
		transition-property: margin-bottom, transform
	}

	.email-response.open {
		margin-bottom: 0rem
		transform: translateY(0)
		transition-property: margin-bottom, transform
		easeOutCubic(all, .7)
	}

	+tablet-port() {
		.email-card {
			width: 80%
		}

		.email-form {
			padding-left: 1.5rem
		}

		.name, .email {
			display: block
		}
	}

	+mobile() {
		.email-card {
			width: 90%
		}

		.contact-form {
			.name-input, .email-input, .message-input {
				display: block
				padding-left: 1rem
			}
		}
	}
}