@import './variables.styl'
@import './reset.styl'
@import './helpers.styl'
@import '../layouts/Header/Header.styl'
@import '../layouts/Footer/Footer.styl'
@import '../components/Elements/Elements.styl'
@import '../layouts/blog.styl'
@import '../components/Pages/Competitions/Competitions.styl'
@import '../components/Pages/Home/Home.styl'