.card {
	elevation(4)
	border-radius: .5rem
}

.button {
	border: none
	border-radius: 6px
	elevation(3)
	cursor: pointer
	font-size: 18px
	font-weight: bold
	padding: .7rem 1.4rem
	position: relative
	easeOutQuart(.15)
	purple-grad()
	color: white

	&:hover {
		box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .1), 0 4px 7px 0 rgba(0, 0, 0, .07)
		transform: translateY(-1px)
		easeInQuart(.15)
	}
}

.button.secondary {
	background: white
	color: purple

	&:hover {
		background: #e6e6e6
	}
}

/*
 *  Styles for the Blog Post Links
 */
ul.blog-links {
	align-items: center
	display: flex
	flex-wrap: wrap
	justify-content: center

	// Adds the margin between the page links
	a {
		margin: 3rem
	}

	// The content of the card.
	// Transition is for the whole card.
	// Fixed with because?
	li.blog-links-card {
		easeOutCubic(.3)
		display: block
		padding: 2rem
		text-align: center
		width: 30rem

		// Blog link image
		img {
			border-radius: 9rem
			height: 17.5rem
			object-fit: cover
			padding-bottom: 1rem
			width: @height
		}

		// Blog link header
		h3 {
			color: purple
			font-size: 2rem
			padding-bottom: 2rem
			padding-top: .5rem
		}

		.excerpt {
			color: darkGray
			display: block
		}

		// When the card is hovered, it is roted and moved slightly
		&:hover {
			transform: rotate(1deg) translateX(-10px) translateY(-10px)
			easeInCubic(.2)
		}
	}

	+tablet-port() {
		a {
			margin: 2rem
		}

		li.blog-links-card {
			width: 25rem

			img {
				height: 15rem
				width: @height
			}
		}
	}
}

.email-modal {
	purple-grad()
	height: 100%
	left: 0
	position: fixed
	top: 0
	width: 100%

	.modal-title {
		color: white
		padding-top: 3rem
		text-align: center
	}

	.header {
		align-items: center
		background: darkGray
		display: flex
		justify-content: space-between
		padding: 1rem 2rem
		width: 100%

		.heading {
			color: white
		}
	}

	.close {
		background: none
		border: none
		color: white
		font-size: 1.6rem
		font-weight: 900

		&:hover {
			cursor: pointer
		}
	}

	.email-card {
		background: white
		left: 0
		margin: 2rem auto
		position: absolute
		right: 0
		width: 70rem
	}

	.email-form {
		padding: 2rem
	}

	.name, .email {
		display: inline-block
	}

	.label {
		font-weight: 600
		margin-right: 1.2rem
	}

	.name {
		margin-right: 2rem
	}

	.message-input {
		display: block
		font-family: 'Open Sans'
		height: 60%
		height: 10rem
		margin-top: .5rem
		width: 100%
	}

	.submit {
		float: right
		margin-bottom: 2rem
	}
}