.card {
	elevation(4)
	border-radius: .5rem
}

@import './blogLinks/BlogLinks.styl'
@import './button/Button.styl'
@import './contactCard/ContactCard.styl'
@import './emailModal/EmailModal.styl'
@import './spinner/Spinner.styl'