.competitions
	.blog
		max-width: 100%
		width: auto

	.hero
		margin-top: 6rem
		padding: 0 10rem 5rem
		width: 100%

		img
			border-radius: 5px
			filter: grayscale(100%)
			height: 45rem
			object-fit: cover
			width: 100%

		.card
			align-items: center
			background: rgba(81, 40, 136, 50%)
			border-radius: 5px
			bottom: 37.6rem
			color: white
			display: flex
			flex-direction: column
			margin: 0 auto
			padding: 2.5rem 0 3.5rem
			position: relative
			text-align: center
			width: 60%

			p
				padding: 2rem 4rem 3rem
				text-shadow: 4px 0 4px rgba(0, 0, 0, 50%)

			.button
				background: none
				border: solid 2px white
				margin: auto
				padding: 1.5rem 2.7rem

	ul
		display: flex
		justify-content: center
		padding-top: 4rem

	li
		align-items: center
		background: lightgray
		border-radius: 5px
		display: flex
		flex-direction: column
		height: 25rem
		justify-content: space-between
		margin: 0 5rem
		padding: 1rem
		position: relative
		transition: all .3s cubic-bezier(.47, 0, .745, .715)
		width: 25rem

		.button
			background: rgba(0, 0, 0, 0)
			box-shadow: none
			color: rgba(0, 0, 0, 0)
			transition: all .2s cubic-bezier(.47, 0, .745, .715)

		&:hover
			height: 26rem
			transform: rotate3d(0, 0, 1, 1deg) translate3d(-10px, -10px, 0)
			width: 26rem

			.button
				background: purple
				color: white
				transition: all .2s cubic-bezier(.47, 0, .745, .715) .1s

.competitions.nav-wrapper
	background: black