// colors

// LAYOUT COLORS
purple = #512888
black = #222222
white = #ffffff
lightGray = #DDE2E4
darkGray = #53595D
// INTERACTIVE COLORS
purple-1 = #3b1d63
purple-2 = #23113b
purple1 = #6a34b2
purple2 = #844dcb
// Media Querries
medium-width = 900px
small-width = 500px