*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.4;
}
@media (max-width: 767px) {
  body {
    line-height: 1.3;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.11rem;
}
body {
  color: #222;
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  display: none;
}
.header-wrapper {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-around;
  padding: 0 6.2rem;
  position: absolute;
  width: 100%;
}
.header-wrapper .logo {
  margin-right: auto;
}
.nav-wrapper {
  align-items: center;
  display: flex;
}
.main-nav ul {
  align-items: center;
  display: flex;
  margin-right: 2rem;
}
.main-nav ul .current-url,
.main-nav ul a:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
  padding-bottom: 0.3rem;
  transition: 0.3s all cubic-bezier(0.52, -1, 0.26, 2);
}
.main-nav ul a {
  border-bottom: 3px solid rgba(255,255,255,0);
  color: #e6e6e6;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-left: 2rem;
  padding-bottom: 0;
  text-decoration: none;
  transition: 0.3s all cubic-bezier(0.8, 0, 0.74, 2);
}
.header-wrapper.general {
  background: linear-gradient(#6a34b2, #3b1d63);
  box-shadow: 0 15px 35px rgba(37,41,82,0.15), 0 5px 15px rgba(0,0,0,0.1);
  position: relative;
}
@media (max-width: 900px) {
  .header-wrapper {
    padding: 0 4rem;
  }
  .header-wrapper .logo img {
    max-width: 20rem;
  }
}
.footer-wrapper {
  background: linear-gradient(#6a34b2, #3b1d63);
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.contact-card {
  background: #fff;
  border-radius: 6px;
  max-width: 37rem;
  padding: 3rem 3.9rem;
}
.contact-card h2 {
  color: #222;
  font-size: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}
.contact-card form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-card form input[type=text],
.contact-card form input[type=email] {
  background: #edf0f2;
  border: none;
  border-radius: 6px;
  color: #64717a;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}
.contact-card form input[type=submit] {
  margin-top: 2rem;
  padding: 1.1rem;
}
.contact-card form > * {
  min-width: 29rem;
}
.button {
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.07);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0.7rem;
  position: relative;
  transition: all 0.15s ease;
}
.button:hover {
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1), 0 4px 7px 0 rgba(0,0,0,0.07);
  transform: translate3d(0, -1px, 0);
}
.button.secondary {
  background: #fff;
  color: #512888;
}
.button.secondary:hover {
  background: #e6e6e6;
}
.button.primary {
  background: linear-gradient(270deg, #553594 0, #612694 100%);
  color: #fff;
}
.page-links {
  padding-bottom: 3rem;
}
.page-links li {
  display: flex;
  padding: 2rem 1rem;
  text-align: center;
}
.page-links li .picture {
  width: 25rem;
}
.page-links li .picture h3 {
  color: #512888;
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.page-links li .picture img {
  border-radius: 7.5rem;
  width: 15rem;
}
.page-links .excerpt {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
}
.blog {
  margin: 0 auto;
  max-width: 90rem;
}
.blog h1.title {
  font-size: 2rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}
.page-wrapper.home-page {
  padding: 0;
}
.home-page .hero {
  background: #512888 url("images/Homepage-Background.svg") no-repeat bottom;
  background-size: cover;
  height: 800px;
  padding-top: 90px;
}
.home-page .content-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  padding: 8rem 6.5rem 0;
}
.home-page .content-wrapper .title {
  color: #fff;
  margin-right: auto;
  max-width: 33rem;
}
.home-page .content-wrapper .title h2 {
  font-size: 2rem;
  font-weight: normal;
  max-width: 23rem;
  padding-top: 2.6rem;
}
.home-page .body {
  padding-top: 5rem;
}
