purple = #512888
black = #222
white = #ffffff

.page-wrapper
	padding: 2rem

@import "../styles/reset.styl"
@import "../styles/header.styl"
@import "../styles/index.styl"
@import "../styles/about.styl"
@import "../styles/competitions.styl"