.page-wrapper
	padding: 4rem 2rem

@import "../styles/variables.styl"
@import "../styles/reset.styl"
@import "../styles/elements.styl"
@import "../styles/helpers.styl"
@import "../styles/Header.styl"
@import "../styles/index.styl"
@import "../styles/about.styl"
@import "../styles/competitions.styl"
@import "../styles/competition.styl"
@import "../styles/person.styl"

@import "../styles/Footer.styl"