.page-wrapper
	padding: 9rem 2rem

@import "../styles/variables.styl"
@import "../styles/reset.styl"
@import "../styles/Header.styl"
@import "../styles/index.styl"
@import "../styles/about.styl"
@import "../styles/competitions.styl"
@import "../styles/elements.styl"
@import "../styles/helpers.styl"