.about-us {
	.hero-image {
		display: block
		object-fit: cover
		width: 100%
	}

	.title-section {
		align-items: center
		background: purple url('http://res.cloudinary.com/ksu-rob/image/upload/v1534524963/AboutUsBackground.svg') no-repeat bottom
		background-position: top
		background-size: cover
		color: white
		display: flex
		flex-direction: column
		height: 240px
		justify-content: center
	}

	.subheading {
		padding-top: 1.5rem
	}

	.card {
		elevation(3)
	}
}
