.about-us {
	overflow: hidden
	padding-bottom: 10.2rem

	.hero-image {
		display: block
		object-fit: cover
		width: 100%
	}

	.title-section {
		align-items: center
		background: purple url('https://res.cloudinary.com/ksu-rob/image/upload/v1534524963/AboutUsBackground.svg') no-repeat bottom
		background-position: top
		background-size: cover
		color: white
		display: flex
		flex-direction: column
		height: 200px
		justify-content: center
	}

	.subheading {
		padding: 1rem
		text-align: center
	}

	.index-heading {
		color: purple
		margin: 5rem 0 1rem
		text-align: center
	}

	.team_leads_heading {
		margin-top: 8rem
	}

	.cards {
		display: flex
		flex-wrap: wrap
		justify-content: center
		padding-top: 3rem
	}

	.person {
		position: relative

		&:not(:first-child) {
			margin-left: 2.5rem
		}

		.extra-info {
			background: linear-gradient(180deg, rgba(94, 47, 158, .3) 4.42%, rgba(59, 29, 99, .3) 100%), linear-gradient(112.89deg, #7B48BD 0%, #3B1D63 88.82%)
			border-radius: 5px
			color: lightGray
			color: white
			opacity: 0
			padding: 1rem 2rem
			position: absolute
			transition: none
			white-space: nowrap
			z-index: -1

			.label {
				font-weight: 600
			}

			&.show {
				opacity: 1
				easeInCubic(opacity, .3)
				z-index: 1
			}

			p {
				padding: .5rem 0
			}
		}
	}

	.card {
		background: white
		border-radius: 5px
		elevation(5)
		padding: 2rem 2.5rem 1rem

		.icon {
			display: none
		}

		.header {
			font-size: 18px
			text-align: center
		}

		.card-image {
			border-radius: 5px
			display: block
			margin: 0 auto
			padding: 1rem 0
			width: 175px
		}

		.position {
			color: darkGray
			font-weight: 600
			text-align: center
		}
	}

	.officer-cards .card {
		&.odd {
			transform: rotate(8deg)
		}

		&.even {
			transform: rotate(-8deg)
			z-index: 1
		}
	}

	.team-leads .card {
		margin-bottom: 2rem
	}

	+mobile() {
		.cards .person {
			margin-left: 0
		}

		.card .icon {
			display: block
			position: absolute
			right: 7px
			top: 7px
		}

		.person .extra-info {
			bottom: 100%
			bottom: auto
			left: -2rem !important
			position: absolute
			right: -2rem
			top: 0 !important
			white-space: normal

			.label {
				display: block
			}
		}

		.officer-cards .card {
			&.odd {
				transform: rotate(8deg)
			}

			&.even {
				transform: rotate(-8deg)
			}
		}
	}
}
