.about-us {
	.hero-image {
		display: block
		object-fit: cover
		width: 100%
	}

	.title-section {
		align-items: center
		background: purple url('http://res.cloudinary.com/ksu-rob/image/upload/v1534524963/AboutUsBackground.svg') no-repeat bottom
		background-position: top
		background-size: cover
		color: white
		display: flex
		flex-direction: column
		height: 200px
		justify-content: center
	}

	.subheading {
		padding-top: 1rem
	}

	.index-heading {
		color: purple
		padding-top: 3rem
		text-align: center
	}

	.card {
		elevation(3)
		width: 2.5rem
		/* .header {
				}
		
				.picture {
				}
		
				.position {
				} */
	}
}
